<app-nav></app-nav>
<div>
    <div>
        <h1 id="complaints">Complaints</h1>
        <div>
            <h5 id="pastComplaints">Past complaints</h5>
            <div id="cards">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>sad al wahda</mat-card-title>
                        <mat-card-subtitle>Boujdour</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../assets/source2.webp" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate consequuntur nostrum
                            numquam distinctio deleniti repellendus fuga periam amet nam voluptatibus nihil. Quo?.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Daya lmalakiya</mat-card-title>
                        <mat-card-subtitle>Ain harouda</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../assets/source1.jpeg">
                    <mat-card-content>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem vel hic, excepturi
                            inventore aspernatur quisquam nemo voluptates placeat accusantium blanditiis qui, officiis
                            quam quaerat
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Dayat sidi</mat-card-title>
                        <mat-card-subtitle>Marrakech</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../assets/source3.jpg">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>sed Omar</mat-card-title>
                        <mat-card-subtitle>Settat</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../assets/source2.webp" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum sint saepe consequuntur
                            quaerat praesentium, velit at vero explicabo distinctio et ullam est
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>daya</mat-card-title>
                        <mat-card-subtitle>settat</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../assets/source3.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet maxime qui distinctio
                            quasi. Dicta
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div id="btnComplaint">
        <button  mat-stroked-button color="warn">create a new complaint</button>
    </div>
</div>